@font-face {
  font-family: 'Misto';
  src: url('./Fonts/NeueMachina-Regular.otf');
}

body {
  font-family: 'Misto';
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #4D774E;
  background: linear-gradient(73deg, rgba(77, 119, 78, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.App {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

