.status-panel {
    font-family: 'Misto';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: 	#212121;
    border: .5px solid #AAAAAA;
    font-size: 14px;
    color: oklch(90.5937% .189547 142.337122);
  }
  
  .status-panel div {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  